<!-- the layout of the pokemon catalogue page, showing the name and the pictures of each pokemon -->
<li *ngIf="pokemon" class="mb-4 shadow bg-white rounded relative">
    <app-select-button [pokemonName]="pokemon.name"></app-select-button>
    <section class="p-4">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" class="block w-24"/>
    </section>
    <section class="p-4">
        <span class="text-2xl">{{ pokemon.name }}</span>
    </section>
    
</li>

