<!-- the layout of the navbar on pages -->
<nav class="bg-green-600 flex justify-between items-center p-4 sticky top-0 w-full z-50" >
    <span class="font-bold">Pokémons</span>

    <!-- the header of the inlog page. Not showing two other pages buttons in this header -->
    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemons">Pokémons catalogue</a>
            </li>
            <li class="px-4">
                <a routerLink="/profile">Trainer</a>
            </li>
            <li class="px-4">
                <a routerLink="/login" (click)="onLogoutClick()">Logout</a>
            </li>
        </ul>
    </ng-container>
    
    
</nav>
