<!-- the layout of the profile page with a list of all the selected pokemons by the user  -->
<header class="container mx-auto p-4">
    <h1 class="text-3xl text-white">Welcome {{username}}</h1>
</header>
<main class="container mx-auto p-4">
    <h4 class="text-xl text-white p-5">Your selected Pokémons</h4>
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
</main>


