<!-- the layout of the login page -->
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block text-white p-6">Please enter your username:</label>
        <input type="text" ngModel #username="ngModel" name="username" id="username"
            class="border border-black p-2 rounded w-full" placeholder="Write your username!" />
    </fieldset>

    <button type="submit" class="bg-green-600 p-2 rounded">Login</button>
</form>