<!-- the layout of the select button for each pokemon in the catalogue. change to the "check" emoji by selecting a pokemon
refer to the "is selected" method to show the selected pokemon in the trainer page -->

<aside class="absolute top-4 right-4">
    <button (click)="onSelectClick()"
        class="border border-slate-300 rounded flex justify-center items-center p-2 bg-green-600">
        <span *ngIf="isSelected; then select else notSelect"></span>
        

        <ng-template #select>✔</ng-template>
        <ng-template #notSelect>Select</ng-template>

       

    </button>
</aside>