<!-- showing the pokemons in a list -->
<main class="container mx-auto p-4">
    <p *ngIf="loading">Loading pokemons...</p>
    <app-pokemon-list [pokemons] = "pokemons"></app-pokemon-list>
</main>


